layout {

    focus-ring {
        active-color   "#9aafb2"
        inactive-color "#1c2121"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#9aafb2"
        inactive-color "#1c2121"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1c212170"
    }

    tab-indicator {
        active-color   "#9aafb2"
        inactive-color "#415558"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#9aafb280"
    }
}

recent-windows {
    highlight {
        active-color "#9aafb2"
        urgent-color "#fd4663"
    }
}
